.DS_Store
.RData
.Renviron
.Rhistory
.Rproj.user
.Ruserdata
.httr-oauth
*.dbf
*.doc*
*.gddoc
*.gdsheet
*.gpkg
*.html
*.mdb
*.shp*
*.geojson
*.kml
*.csv
*.shx
*.xls*
*_files
*.pdf
*.png
docs
libs
renv/library
temp

